$color-primario: rgb(8, 7, 7); 


body {
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(2,1,42,1) 0%, rgba(2,0,36,1) 24%, rgba(9,9,121,1) 100%)
}

ul {
    list-style-type: none;

}

h1 {
    font-family: 'Combo', cursive;
    font-size: 50px;
    text-align: center;
   
} 
h1:hover {
    background-color: rgb(8, 7, 7); 
    }
p {
    font-family: 'Dosis', sans-serif;  
    font-size: 14px;
    text-align: center;
    
}

.texto-corto {
    font-size: 20px;
  line-height: 24px;
  text-align: center;
  background-color: $color-primario;
  } 

h2 {
    text-decoration: underline;
}


nav {
    display: flex; 
    flex-direction: row-reverse;
    
    
}

footer {
    color: rgb(225, 231, 236);
    background-color: $color-primario ;
    text-align: center;

}

main h1 {
    background-color:  rgb(4, 4, 43) ;
    color: rgb(228, 234, 240);
 

}

header {
    display: flex;
    flex-direction:row-reverse
    ;
}

@media screen and (max-widht:300px) { 
    body {
        background: linear-gradient(90deg, rgb(39, 140, 160) 0%, rgb(100, 96, 192) 0%, rgb(40, 35, 129) 24%, rgba(9,9,121,1) 100%);
    }
}

