.formulario-fondo {
    color: #e1edf8;
    height: 800px;
    background-image: url(https://www.argentina.gob.ar/sites/default/files/panaderia_recuperada_mmgyd_19.11.21_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;       
  }

  .container {
    display: block;
    
}

textarea {
    width: 1100;

 }